.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.nav li {
  margin: 0;
  margin-left: 2rem;
}

.nav a {
  text-decoration: none;
  font-weight: bold;
  color: #fddabf;
  font-size: 20px;
}

.nav a:hover,
.nav a:active {
  color: #924823;
  border-bottom: 1px solid #924823;
}

.nav button {
  font: inherit;
  background: #fddabf;
  border: 1px solid #fddabf;
  padding: 0.5rem 1.5rem;
  color: #924823;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26);
  border-radius: 20px;
  font-weight: bold;
}

.nav button:focus {
  outline: none;
}

.nav button:hover,
.nav button:active {
  background: #fba606;

  font-weight: bold;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.26);
}

button.theme-btn {
  color: #fddabf;
  border: #924823;
  background-color: #924823;
  padding: 7px 8px;
  border-radius: 0;
}
button.theme-btn:hover {
  background-color: #fddabf;
  color: #924823;
}
